/* ----- MAIN SETTINGS ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 9%, rgba(226, 73, 199, 1) 49%, rgba(0, 212, 255, 1) 100%);
}

body,
.video-controls,
.video-timer,
.options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vids {
    max-width: 800px;
    width: 98%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.vids.fullscreen {
    max-width: 100%;
    width: 100%;
}

.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease;
}

.vids.show-controls .wrapper {
    bottom: 0px;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.15s ease;
}

.wrapper::before {
    content: "";
    bottom: 3px;
    border-radius: 5px;
    width: 100%;
    z-index: -1;
    height: calc(100% + 35px);
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}


/* ----- VIDEO-TIMELINE , PROGRESS-AREA/BAR ----- */
.video-timeline {
    height: 7px;
    width: 96%;
    margin-left: 15px;
    cursor: pointer;
}

.video-timeline .progress-area {
    height: 3px;
    position: relative;
    background: rgba(255, 255, 255, 0.6);
}

.progress-area span {
    position: absolute;
    left: 50%;
    top: -20px;
    font-size: 13px;
    color: #fff;
    pointer-events: none;
    transform: translateX(-50%);
}

.progress-area .progress-bar {
    width: 0%;
    height: 100%;
    position: relative;
    background: #2289ff;
}

.progress-area {
    height: 4px;
    transition: all 0.3s ease;
}

.progress-area:hover {
    height: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.progress-bar::before {
    content: "";
    right: 0;
    top: 50%;
    height: 13px;
    width: 13px;
    position: absolute;
    border-radius: 50%;
    background: #2289ff;
    transform: translateY(-50%);
}

.progress-bar::before,
.progress-area span {
    display: none;
}

.video-timeline:hover .progress-bar::before,
.video-timeline:hover .progress-area span {
    display: block;
}


/* ----- VIDEO-CONTROLS ----- */
.wrapper .video-controls {
    padding: 5px 20px 10px;
}

.video-controls .options {
    width: 100%;
}

.video-controls .options:first-child {
    justify-content: flex-start;
}

.video-controls .options:last-child {
    justify-content: flex-end;
}


/* ----- OPTIONS ----- */
.options button {
    height: 40px;
    width: 40px;
    font-size: 19px;
    border: none;
    cursor: pointer;
    background: none;
    color: #efefef;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.options button :where(i, span) {
    height: 100%;
    width: 100%;
    line-height: 40px;
}

.options button:hover :where(i, span) {
    color: #fff;
}

.options button:active :where(i, span) {
    transform: scale(0.9);
}

.options button span {
    font-size: 23px;
}

.options input {
    height: 4px;
    margin-left: 3px;
    max-width: 75px;
    accent-color: #0078FF;
}

.options .video-timer {
    color: #efefef;
    margin-left: 15px;
    font-size: 14px;
}

.video-timer .separator {
    margin: 0 5px;
    font-size: 16px;
    font-family: "Open sans";
}


/* ----- PLAYBACK CONTENT ----- */
.playback-content {
    display: flex;
    position: relative;
}

.playback-content .speed-options {
    position: absolute;
    list-style: none;
    left: -40px;
    bottom: 40px;
    width: 95px;
    overflow: hidden;
    opacity: 0;
    border-radius: 4px;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: opacity 0.13s ease;
}

.playback-content .speed-options.show {
    opacity: 1;
    pointer-events: auto;
}


/* ----- SPEED OPTIONS ----- */
.speed-options li {
    cursor: pointer;
    color: #000;
    font-size: 14px;
    margin: 2px 0;
    padding: 5px 0 5px 15px;
    transition: all 0.1s ease;
}

.speed-options li:where(:first-child, :last-child) {
    margin: 0px;
}

.speed-options li:hover {
    background: #dfdfdf;
}

.speed-options li.active {
    color: #fff;
    background: #3e97fd;
}

.vids video {
    width: 100%;
}